<?xml version="1.0" encoding="UTF-8" ?>
<widget id="tw.edu.nfu.eZTravel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- versionCode is optional and Android only -->
  <name>我的最愛</name>
  <description>
      ryan
  </description>
  <author href="https://www.nfu.edu.tw/zh/" email="40741412@gm.nfu.edu.tw">
      蕭丞涵
  </author>
  <content src="index.html"/>
  <platform name="android">
    <icon src="res/res01.png"/>
  </platform>
</widget>